<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>244094473651-6h6856ts3req6gop99edfnupvon7cdqu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.244094473651-6h6856ts3req6gop99edfnupvon7cdqu</string>
	<key>API_KEY</key>
	<string>AIzaSyC2QCtuDFlpnDmjbe4j4hP1ZHvwmJFBTCE</string>
	<key>GCM_SENDER_ID</key>
	<string>244094473651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hs.TravelApp</string>
	<key>PROJECT_ID</key>
	<string>travelapp-adv</string>
	<key>STORAGE_BUCKET</key>
	<string>travelapp-adv.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244094473651:ios:f027d6808d9c7a90</string>
	<key>DATABASE_URL</key>
	<string>https://travelapp-adv.firebaseio.com</string>
</dict>
</plist>