<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1097486897032-maieom8iq066d18itvdqhc7rb562qu1k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097486897032-maieom8iq066d18itvdqhc7rb562qu1k</string>
	<key>API_KEY</key>
	<string>AIzaSyAf0bJn4sIkEuEZOlHr0u4b73vVaA6s9KQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1097486897032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TravelApp</string>
	<key>PROJECT_ID</key>
	<string>travelapp-hs</string>
	<key>STORAGE_BUCKET</key>
	<string>travelapp-hs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097486897032:ios:97f937d55243b949</string>
	<key>DATABASE_URL</key>
	<string>https://travelapp-hs.firebaseio.com</string>
</dict>
</plist>